.container, .jumbotron .container {
  max-width: 768px;
}
.container, .container-fluid {
  margin-top: 20px;
}
.navbar {
  margin-bottom: 0px;
  color: white;
  background-color: red;
}
.jumbotron {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.7;
}

.slide-container {
  width: 70%;
  margin: auto; }

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
